* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
img {
  max-width: 100%;
}
a {
  text-decoration: none !important;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 66px;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.user {
  display: flex;
  gap: 32px;
  align-items: center;
}
.container-custom {
  padding: 0 200px;
  width: 100%;
}
#hrm_body {
  background-image: url(../img/background1920.png);
  min-height: 100vh;
  padding-top: 160px;
  background-size: cover;
}
.hrm-search {
  display: flex;
  width: 606px;
  height: 48px;
  align-items: center;
  gap: 16px;
  border-radius: 40px;
  border: 1px solid var(--Basic-4, #e9ebee);
  background: #fff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.hrm-search input {
  width: 100%;
  padding: 16px 20px;
  border: none;
  color: var(--Basic-3, #9ba3b1);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: url(../img/search-icon.png) no-repeat scroll 5%;
  padding-left: 13%;
}
.hrm-search input:focus {
  outline: none;
}
.module-row {
  display: flex;
  gap: 36px;
}
.hrm-module {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.module-box {
  display: flex;
  padding: 24px 10px;
  width: 126px;
  height: 188px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 32px;
  border: 1px solid var(--Basic-3, #9ba3b1);
  background: #fff;
  color: var(--Secondary-Xanh, #2951a0);
}
.module-box:hover {
  border-radius: 24px;
  border: 1px solid var(--Basic-3, #9ba3b1);
  background: var(--Secondary-Xanh-navy, #172d58);
  color: #fff;
}
.module-name {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 130% */
}
@media (max-width: 1440px) {
  .module-row {
    gap: 30px;
  }
}
