* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* font roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
img {
  max-width: 100%;
}
a {
  text-decoration: none !important;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 66px;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.user {
  display: flex;
  gap: 32px;
  align-items: center;
}
.container-custom {
  padding: 0 320px;
  width: 100%;
}
#hrm_body {
  background-image: url(../img/background1920.png);
  min-height: 100vh;
  padding-top: 200px;
  background-size: cover;
}
.hrm-search {
  display: flex;
  width: 606px;
  height: 48px;
  align-items: center;
  gap: 16px;
  border-radius: 40px;
  border: 1px solid var(--Basic-4, #e9ebee);
  background: #fff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.hrm-search input {
  width: 100%;
  padding: 16px 20px;
  border: none;
  color: var(--Basic-3, #9ba3b1);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: url(../img/search-icon.png) no-repeat scroll 5%;
  padding-left: 13%;
}
.hrm-search input:focus {
  outline: none;
}
.module-row {
  display: flex;
  gap: 30px;
}
.hrm-module {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.module-box {
  display: flex;
  padding: 24px 10px;
  width: 126px;
  height: 188px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 32px;
  border: 1px solid var(--Basic-3, #9ba3b1);
  background: #fff;
  color: var(--Secondary-Xanh, #2951a0);
}
.module-box:hover {
  border-radius: 24px;
  border: 1px solid var(--Basic-3, #9ba3b1);
  background: var(--Secondary-Xanh-navy, #172d58);
  color: #fff;
}
.module-name {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 130% */
}

.body-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.user-noti {
  position: relative;
}
.noti-count {
  display: flex;
  width: 18px;
  height: 18px;
  padding: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50%;
  background: var(--Secondary-, #f00);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  right: -2px;
  top: -5px;
  color: var(--Secondary-Trng, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* dropdown user avatar icon */
.avt-dropdown {
  position: relative;
  display: inline-block;
}
.avt-dropdown:hover {
  cursor: pointer;
}
.avt-dropdown-content {
  display: flex;
  position: absolute;
  z-index: 1;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 12px;
  background: var(--Basic-5, #f3f4f6);
  width: 308px;
  top: 137%;
  right: 20%;
}

.avt-dropdown-content a {
  display: flex;
  padding: 16px;
  align-items: flex-end;
  gap: 16px;
  align-self: stretch;
  border-radius: 8px;
  background: #fff;
  color: var(--Secondary-Xanh-navy, #172d58);

  /* Subtitle/Bold */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.avt-dropdown-content a:hover,
.avt-dropdown-content a:active {
  background-color: #ddd;
}

.user-logout {
  display: flex;
  width: 275px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  background: var(
    --Secondary-Cam-Gardient,
    linear-gradient(270deg, #f15922 11.93%, #f6921e 122.06%)
  ) !important;

  color: #fff !important;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.user-logout:hover {
  opacity: 0.9;
}
@media (max-width: 1600px) {
  .module-row {
    gap: 30px;
  }
  #hrm_body {
    padding-top: 140px;
  }
  .container-custom {
    padding: 0 140px;
  }
}
@media (max-width: 1024px) {
  .object-right {
    display: none;
  }
  .container-custom {
    padding: 0 135px;
  }
}
